body {
  background-color: #345477;
}

#app {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#title {
  color: #eeeeee;
  font-size: 12vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#icon {
  height: 15vh;
}